<footer id="layout-footer">
   <h4>CODEIAL</h4>
    <nav class="footer-nav">
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/users/profile">Profile</a>
            </li>
        </ul>
    </nav>
</footer>