body{
    background-image: linear-gradient(50deg, #ffafbd 0%,  #ffc3a0 74%);
}
#home-container{
    display: flex;
    
    #feed-posts{
        width: 70%;
        padding: 10px;
    }

    #user-friends{
        width: 30%;
        padding: 10px;
        border-left: 1px solid lightgrey;
        height: 100%;
    }
}