body{
    background-image: linear-gradient(50deg, #ffafbd 0%,  #ffc3a0 74%);
    margin: 0px;
}
#sign-up{
    text-align: center;
}
#heading{
    font-family: sans-serif;
    font-weight: 500;
    text-transform: capitalize;
    text-justify: auto;
}
#text{
    padding: 5px 15px;
    border: 2px;
}
#email{
    padding: 5px 15px;
    border: 2px;
    
}
#password{
    padding: 5px 15px;
    border: none;
   
}
#button{
    border: none;
    outline: none;
    padding: 5px ;
    background-color:lightcoral;
    margin-left: 5px;
    border: 1px solid white;
}
button:hover{
    background-color: #4CAF50;
    color: white;
}